* {
    font-family: 'Merriweather', serif;
}
body {
    background-color: #d4f0d2;
}
#navbar {
    background-color: #2a581d;
    color:#EDF1D6;
}

#navbar-logo {
    width: 80px;
    transition:width 1s;
    transition-timing-function: ease-in-out;
}

 #navbar-logo:hover {
    width:120px;
} 


.navbar-image {
    width: 100%;
}

#nav-items {
    color:#EDF1D6;
}

#dropdown-menu {
    background-color: #9DC08B;
}

.dropdown-item:hover {
    background-color:#40513B ;
    color:#EDF1D6;
    transition: .3s;
    box-shadow: 2px 2px 8px black;
}

.navbar-toggler {
    background-color: #EDF1D6;
}

.dropdown-toggle::after {
    display: none !important;
}
.fa {
    margin:2px;
    color:#EDF1D6;
}
.nav-dropdown {
    background-color:#2a581d ;
}

.dropdown-menu {
    background-color: #9DC08B;
    padding: 0;
    border-radius: 10px;
}

.dropdown-menu a {
    padding:15px;
}

.dropdown-toggle {
    padding: 0;
    border: none;
    color:#EDF1D6;
}
#nav-items:hover{
    color:#F4EEE0;
    font-weight: bolder;
}

.carousel{
    margin:0 1em;
}

.carouselContent {
    width:100%;
}

.header__logo {
    width:80%;
}

.carouselImage {
    width:100%;
}

.carousel-item {
    height:250px;
}

.carousel-caption {
    width: 100px;
    margin:0 auto;
}

.carousel-caption-img {
    width: 100%;
}

.d-block {
    width:100%;
    height:100%;
    border-radius: 10px;
    box-shadow:12px 12px 10px 3px rgb(247, 244, 244);
}

#carouselContent__text {
    font-size: 17px;
    font-weight: 600;
    color:#17594A;
}

#card__container,.complex__container {
    margin:1em;
}

.card {
    width:100%;
    overflow: hidden;
}

.inner {
    overflow: hidden;
}

#card__container__element1,#card__container__element2,#card__container__element3 {
    box-shadow: -13px 13px 40px 20px rgb(0 0 0 / 0.2);
}

.card-img-top{
    overflow: hidden;
    transition:all 1.5s ease;
}

.card-img-top:hover {
    transform: scale(1.5);
}

.card-img-bottom {
    position:relative;
    width:100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top:-50px;
    transition: border .5s;
    transition-timing-function: linear;
}

#card__container__element1:hover .card-img-bottom,#card__container__element2:hover .card-img-bottom,#card__container__element3:hover .card-img-bottom {
    border: 5px solid green;
    
}

.card__image1 {
    width:100%;
    overflow: hidden;
}

#card-buttons-location,#card-buttons-address,#card-buttons-phone {
    transition:transform 0.7s ease-in-out,background-color 0.7s ease-in-out;
}

#card-buttons-location:hover {
    background-color: rgb(248, 194, 194);
    transform: scale(1.3);
}

#card-buttons-address:hover {
    background-color: rgb(181, 236, 172);
    transform: scale(1.3);
}

#card-buttons-phone:hover {
    background-color: rgb(172, 173, 236);
    transform: scale(1.3);
}

.address__text {
    font-size: 1em;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.card-title {
    font-size: 1.5em;
}

/* complex */
.complex__container{
    border-radius: 10px;
}

 #complex__container__slider {
    margin:0;
    width:100%;
} 

.inner1 {
    overflow: hidden;
    width:100%;
    height:100%;
}
.complex__container__carousel-image {
    width:100%;
    height:100%;
}

.complex__container__logo{
    width:50px;
}

.complex__container__carousel-image {
    transition: transform 1s ease;
}

.complex__container:hover .complex__container__carousel-image {
    transform: scale(1.2);
}

.complex__container__logoimage {
    visibility: hidden;
    width:100%;
    border-radius: 50%;
    border: 2px solid green;
    transition: visibility 1s ease,transform .5s ease;
    opacity: 0.5;
}

.complex__container__carousel-item:hover .complex__container__logoimage {
    visibility: visible;
    transform: scale(1.2);
}

.footer {
    width:100%;
    height:200px;
}

.list-group {
    overflow:hidden;
}

.list-group-item {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 1.2em;
}

.list-group-item:hover {
    transition:background-color 1s linear,transform 1s linear ;
}

.list-group-item:hover {
    background-color: #9DC08B;
    transform: scale(1.1);
}

@media (min-width: 768px) {
    #nav-items {
        font-size:px;
        font-weight: 500;
    }
    .carousel-item {
        height: 300px;
    }
    #carouselContent__text {
        font-size: 30px;
    }
    #card-text2 {
        margin-top: 2.8em;
    }
    #card__buttons2 {
        margin-top: 100px;
    }
    .card-title {
        font-size: 2.5em;
    }
}

@media (min-width: 1024px) {
    #nav-items {
        font-size:25px;
    }
    .carousel-item {
        height: 500px;
    }
    #carouselContent__text {
        text-transform: capitalize;
        text-align: center;
        font-size: 40px;
    }
    #card__container {
        max-width: 80%;
        margin:3px auto ;
    }
    .complex__container__logo{
        width:100px;
    }
    .card-title {
        margin-top: 0.8em;
        font-size: 3em;
    }
    #complex__cardbody__elements {
        margin-top: 3em;
    }
}


